language: python
python:
  - "2.7"
env:
  - NUMPY=1.7    SCIPY=0.11   NETCDF=1.0   MATPLOTLIB=1.3
  - NUMPY=1.8.2  SCIPY=0.13.3 NETCDF=1.1   MATPLOTLIB=1.3 # Ubuntu 14.04
  - NUMPY=1.9    SCIPY=0.15   NETCDF=1.1   MATPLOTLIB=1.4
  - NUMPY=1.9    SCIPY=0.17   NETCDF=1.1   MATPLOTLIB=1.4
  - NUMPY=1.10   SCIPY=0.17   NETCDF=1.2.1 MATPLOTLIB=1.4
  - NUMPY=1.11   SCIPY=0.17   NETCDF=1.2.4 MATPLOTLIB=1.5
  - NUMPY=1.12   SCIPY=0.19.0 NETCDF=1.2.7 MATPLOTLIB=1.5
  - NUMPY=1.13   SCIPY=0.19   NETCDF=1.2.4 MATPLOTLIB=2.0
  - NUMPY=1.13.1 SCIPY=0.19.1 NETCDF=1.3.0 MATPLOTLIB=2.0 # Bleeding edge
matrix:
  allow_failures:
cache:
  directories:
    - $HOME/download
    - $HOME/miniconda2
sudo: required
before_install:
  - if [[ ! -e $HOME/miniconda2/bin ]]; then
        sudo apt-get install libpq-dev python-dev libxml2-dev libxslt1-dev libldap2-dev libsasl2-dev libffi-dev;
        mkdir -p download;
        cd download;
        wget -c https://repo.continuum.io/miniconda/Miniconda2-4.3.21-Linux-x86_64.sh -O miniconda.sh;
        chmod +x miniconda.sh;
        ./miniconda.sh -b -f;
        cd ..;
    fi
  - export PATH=/home/travis/miniconda2/bin:$PATH
  - conda config --add channels conda-forge
#  - conda update --yes conda
  - export PYTHONPATH=$PYTHONPATH:$HOME/oillibrary/OilLibrary
  # The next couple lines fix a crash with multiprocessing on Travis and are not specific to using Miniconda
  - sudo rm -rf /dev/shm
  - sudo ln -s /run/shm /dev/shm
install:
  - conda install --yes hdf4 python=$TRAVIS_PYTHON_VERSION numpy=$NUMPY scipy=$SCIPY matplotlib=$MATPLOTLIB basemap=1.0.7 netcdf4=$NETCDF configobj
  - if [[ ! -e $HOME/oillibrary ]]; then
        cd $HOME;
        mkdir -p oillibrary;
        cd oillibrary;
        git clone https://github.com/NOAA-ORR-ERD/OilLibrary.git;
        cd OilLibrary;
        /home/travis/miniconda2/bin/pip install git+https://github.com/NOAA-ORR-ERD/PyNUCOS.git#egg=unit_conversion;
        conda install --file conda_requirements.txt;
        sudo /home/travis/miniconda2/bin/python setup.py develop;
    fi
  - conda install --no-update-deps --yes -c dan_blanchard python-coveralls
  - cd /home/travis/build/OpenDrift/opendrift
script: coverage run --source=opendrift setup.py test
after_success:
  - coveralls
