language: python
addons:
  apt:
    packages:
    - gfortran
python:
  - 2.7
  - 3.5
env:
  - NUMPY=1.8.2  SCIPY=0.13.3 NETCDF=1.1   MATPLOTLIB=1.3 BASEMAP=1.0.8 # Ubuntu 14.04
  - NUMPY=1.9    SCIPY=0.17   NETCDF=1.1   MATPLOTLIB=1.4 BASEMAP=1.0.8
  - NUMPY=1.11   SCIPY=0.17   NETCDF=1.2.4 MATPLOTLIB=1.5 BASEMAP=1.0.8
  - NUMPY=1.13.3 SCIPY=1.0    NETCDF=1.3.0 MATPLOTLIB=2.0 BASEMAP=1.1.0
  - NUMPY=1.13.3 SCIPY=1.1    NETCDF=1.4.0 MATPLOTLIB=2.2 BASEMAP=1.1.0 # Bleeding edge
matrix:
  fast_finish: true
  allow_failures:
    - env: NUMPY=1.8.2  SCIPY=0.13.3 NETCDF=1.1   MATPLOTLIB=1.3 BASEMAP=1.0.8
cache:
  directories:
    - $HOME/download/oillibrary
sudo: false
before_install:
  - if [ $TRAVIS_PYTHON_VERSION == 2.7 ]; then
        condaURL=https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh;
    elif [ $TRAVIS_PYTHON_VERSION == 3.5 ]; then
        condaURL=https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh;
    fi
  - if [ ! -d $HOME/download/miniconda ]; then
        mkdir -p $HOME/download;
        cd $HOME/download;
        wget -c $condaURL -O miniconda.sh;
        chmod +x miniconda.sh;
        ./miniconda.sh -b -f -p $HOME/download/miniconda/;
        cd ..;
    fi
  - echo $PATH
  - echo $PYTHONPATH
  - . $HOME/download/miniconda/etc/profile.d/conda.sh
  - conda activate base
  - conda create --yes --name OPENDRIFT
  - conda activate OPENDRIFT
install:
  - conda config --append channels conda-forge
  - conda install -q --yes -c conda-forge python=$TRAVIS_PYTHON_VERSION;
  - if [ ! -d $HOME/download/oillibrary ] && [ $TRAVIS_PYTHON_VERSION == 2.7 ]; then
        mkdir -p $HOME/download/oillibrary;
        cd $HOME/download/oillibrary;
        git clone https://github.com/NOAA-ORR-ERD/OilLibrary.git;
        cd OilLibrary;
        conda install -q --yes -c conda-forge numpy=$NUMPY scipy=$SCIPY;
        conda install -q --yes -c conda-forge SQLAlchemy=1.1;
        conda install -q --yes -c noaa-orr-erd zope.sqlalchemy=0.7.7 awesome-slugify>=1.6.5;
        conda install -q --yes -c conda-forge pytest>=2.9.2;
        conda install -q --yes backports.functools_lru_cache>=1.5;
        conda install -q --yes -c noaa-orr-erd unit_conversion>=2.5.4;
        conda install -q --yes -c conda-forge setuptools_scm;
        python setup.py install;
    fi
  - conda config --get channels;
  - conda install -q --yes -c conda-forge future hdf4 numpy=$NUMPY scipy=$SCIPY matplotlib=$MATPLOTLIB netcdf4=$NETCDF configobj;
  - conda install -q --yes -c conda-forge libgdal gdal coveralls pyproj basemap=$BASEMAP basemap-data-hires nomkl ffmpeg "x264<20180712";
  - cd /home/travis/build/OpenDrift/opendrift;
script: coverage run -m unittest discover -s tests/
after_success:
  - coveralls
